.landing-background {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100vh;
  /* background-image: url("../../public/images/2.gif"); */
  background-color: #f7f6f1;
  background-size: 100% 100%;
}

/* .background {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 85%,
    rgba(255, 255, 255) 85%,
    rgba(255, 255, 255, 1) 100%
  );
} */
