:root {
  --primary-color: #fff;
  --background-color: linear-gradient(54deg, #9164ff, #8bfff4);
  /* --background-color: linear-gradient(54deg, #e5e5b4, #a89879); */
  --text-color: #3c3f64;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.word-slide {
  font: normal 16px/1.5 "Titillium Web", sans-serif;
  background: var(--background-color);
  color: var(--text-color);

  overflow-x: hidden;
  padding-bottom: 50px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #dcf9a1;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #ffa545;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: var(--primary-color);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.timeline ul li div time {
  position: absolute;
  background: #cdcccb;
  width: 75px;
  height: 40px;
  top: -20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.timeline ul li div div {
  height: 100px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* width: 100%; */
  height: 100%;
}

.timeline ul li div div p {
  text-align: center;
}

.timeline ul li div .word {
  margin-right: 10px;
}

.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}

.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.word {
  width: 20%;
}

.score {
  /* width: 20px; */
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row;
  align-items: center;
  align-items: stretch; */
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }

  .timeline ul li div div {
    width: 80%;
    margin: 10px;
  }

  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
}

/*
@media screen and (max-width: 600px) {
  body {
    background: #8bfff4;
  }

  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
} */

.score-button {
  background-color: #fff;
  border: 1px solid #dccaca;
  color: #3c3f64;
  border-radius: 3px;
  padding: 0px 5px;
  margin-right: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.score-button:hover {
  background-color: #f5af19;
  color: #fff;
}

.selected {
  background-color: #f5af19;
  color: #fff;
}
