@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&display=swap");

body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  cursor: none;
}

.App {
  padding: 0px;
  margin: 0px;
}

.homeFont {
  font-family: "Noto Sans Zanabazar Square", sans-serif;
}

.draggunable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor {
  pointer-events: none;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball circle {
  fill: #f7f8fa;
}

@font-face {
  font-family: "dalserB";
  src: url("../public/font/DalseoHealingBold.ttf");
}
@font-face {
  font-family: "dalserM";
  src: url("../public/font/DalseoHealingMedium.ttf");
}

@font-face {
  font-family: "hanu";
  src: url("../public/font/Hoengseong\ Hanu.ttf");
}
@font-face {
  font-family: "sunshineB";
  src: url("../public/font/Gwangyang\ Sunshine\ Bold\(TTF용\).ttf");
}
@font-face {
  font-family: "pak";
  src: url("../public/font/Pak_Yong_jun.ttf");
}
@font-face {
  font-family: "sunsin";
  src: url("../public/font/sunsinB.ttf");
}

/* v */
@font-face {
  font-family: "jungnaL";
  src: url("../public/font/중나좋체\ Light.ttf");
}
@font-face {
  font-family: "jungnaM";
  src: url("../public/font/중나좋체\ Medium.ttf");
}
@font-face {
  font-family: "taebaek";
  src: url("../public/font/TAEBAEK\ milkyway.ttf");
}
