@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&display=swap');
body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.App {
  padding: 0px;
  margin: 0px;
}

.homeFont{
  font-family: 'Noto Sans Zanabazar Square', sans-serif;
}